body{
    background-color: rgb(252, 240, 255);
}
.red{
    color: rgb(131, 196, 234);
}
.border{
    border: 2px black solid;
    background-color: bisque;
}
.large{
    font-size: 24px;
}
.circle {
    width: 100px;
    height: 100px;
    background: rgb(0, 170, 255);
    border-radius: 50%;
    transition: transform 1s linear;
}
.move{
    transform: translateX(600px);
}#divlink{
    margin-top: 20px;
}
a.link{
    color: rgb(124, 139, 216);
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s;
}
a.link:hover, a.link:focus{
    text-decoration: line-through;
}
.svgimage{
    margin-top: 100px;
    transition: transform 1s linear;
}
.svgimage img{
    width: 50px;
}